
<div id="titledescription">
    <img src="../images/logo1.webp" alt="logo animal" width="80" height="80">
        <h1>Extinct Animals</h1>
</div>
<button id="menu" title="menu"></button>
<nav id="animate">
    <ul class="navigation">
        <li><a href="../index.html" title="Home"><i class="fa fa-fw fa-home"></i> Home</a></li>
        <li><a href="../pages/extinct.html" title="Extinct Animals"><i class="fa fa-fw fa-exclamation-triangle"></i> See Extinct Animals</a></li>
        <li><a href="../pages/search.html" title="Endangered Animals"><i class="fa fa-fw fa-search"></i> Search Animal</a></li>
        <li><a href="../pages/random-animal.html" title="Animal Of the day"><i class="fa fa-fw fa-random"></i> Random Animal</a></li>
        <li><a href="../pages/about.html" title="About"><i class="fa fa-fw fa-info-circle"></i> About</a></li>

    </ul>
</nav>
