
<div id="titledescription">
    <img src="../images/logo1.webp" alt="logo tarija" width="80" height="80">
        <h1>Extinct Animals</h1>
</div>
<button id="menu" title="menu"></button>
<nav id="animate">
    <ul class="navigation">
        <li><a href="../index.html" title="Home" >Home</a></li>
        <li><a href="../pages/extinct.html" title="Extinct Animals" >See Extinct Animals</a></li>
        <li><a href="../pages/search.html" title="Endangered Animals">Search Animal</a></li>
        <li><a href="../pages/random-animal.html" title="Animal Of the day">Random Animal</a></li>
        <li><a href="../pages/about.html" title="About" >About</a></li>
    </ul>
</nav>
